<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>700</integer>
    <key>capHeight</key>
    <integer>625</integer>
    <key>descender</key>
    <integer>-200</integer>
    <key>familyName</key>
    <string>Fontmake Test</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>lc_center [locked]</string>
        <key>x</key>
        <integer>-175</integer>
        <key>y</key>
        <integer>472</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>uc_center [locked]</string>
        <key>x</key>
        <integer>-221</integer>
        <key>y</key>
        <integer>429</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-156</integer>
        <key>y</key>
        <integer>672</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-152</integer>
        <key>y</key>
        <integer>547</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/11/12 12:14:49</string>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>500</integer>
      <integer>510</integer>
      <integer>625</integer>
      <integer>635</integer>
      <integer>700</integer>
      <integer>710</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-210</integer>
      <integer>-200</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>115</integer>
      <integer>130</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>130</integer>
      <integer>150</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Fontmake Test Black Narrow</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Black Narrow</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>500</integer>
  </dict>
</plist>
